<ion-header>

  <div class="ion-activatable ripple-parent circle demo" (click)="closeModal()">
    <ion-icon name="arrow-back-outline" style="bottom: 32%; position: absolute; left: 30%; font-size: 1.2em; color: white;"></ion-icon>
    <ion-ripple-effect style="color: #fff;"></ion-ripple-effect>
  </div>

</ion-header>



<ion-content padding [scrollEvents]=true (ionScroll)="logScrolling($event)" (ionScrollStart)="scrollStart()" (ionScrollEnd)="logScrollEnd()">

  <div style="position: relative; text-align: center;" id="hehe">
    <div class="image-container" [style.background-image]="'url(assets/images/' + img + '.jpg)'" style="filter: brightness(0.5);" id="test">
    </div>
    <ion-text color="light">
      <p class="setCenter">{{name}}</p>
    </ion-text>
  </div>
  <div>
    <ion-grid *ngIf="checkContent()">
      <ion-row>
        <ion-col>
          <ion-text>
            <div style="color: dimgrey;">
              {{content}}
            </div>
          </ion-text>
        </ion-col>
      </ion-row>
    </ion-grid>
    <hr *ngIf="checkContent()" style="border-top: 1px solid darkgrey; margin: 0px;">
    <ion-grid>
      <ion-row>
        <ion-col
        size="12"
        size-xs="6"
        size-sm="6"
        size-md="4"
        size-lg="3"
        *ngFor="let x of exercises" (click)="presentModal(x)">
        <div class="image-container1 ion-activatable ripple-parent" [style.background-image]="'url(assets/images/' + x.imgEx + '.jpg)'" style="filter: brightness(0.5);">
          <ion-ripple-effect style="color: #ff5e00;"></ion-ripple-effect>
        </div>
        <ion-text>
          <p class="setText">
            {{x.nameEx}}
          </p>
        </ion-text>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

</ion-content>


