<ion-header class="header-image">
  <ion-toolbar>
    <ion-buttons slot="start" >
      <ion-back-button defaultHref="/my-plan"></ion-back-button>
    </ion-buttons>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-text class="description">
    <h6>All around Fitness & Confident</h6>
    <p class="description-content">Fitter is the perfect plan if you are looking for a balanced improvement in your all fitness levels</p>
  </ion-text>
  <ion-list class="margin-top-90" routerLink="/leaner-beginner">
    <ion-item >
      <ion-grid>
        <ion-row>
          <ion-col size="2">1</ion-col>
          <ion-col size="9">Beginner</ion-col>
          <ion-col size="1">
            <ion-icon name="chevron-forward-outline"></ion-icon>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>
  <ion-list routerLink="/leaner-beginner">
    <ion-item >
      <ion-grid>
        <ion-row>
          <ion-col size="2">2</ion-col>
          <ion-col size="9">Intermediate</ion-col>
          <ion-col size="1">
            <ion-icon name="chevron-forward-outline"></ion-icon>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>
  <ion-list routerLink="/leaner-beginner">
    <ion-item >
      <ion-grid>
        <ion-row>
          <ion-col size="2">3</ion-col>
          <ion-col size="9">Advanced</ion-col>
          <ion-col size="1">
            <ion-icon name="chevron-forward-outline"></ion-icon>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>
</ion-content>
