<ion-header [translucent]="true">
  <ion-img src="https://miro.medium.com/max/14144/1*toyr_4D7HNbvnynMj5XjXw.jpeg"></ion-img>
  <ion-label>My Custom Workouts</ion-label>
  
</ion-header>

<ion-content [fullscreen]="true">
  <ion-fab style="margin-top: -40px;"  vertical="top" horizontal="end" slot="fixed" (click)="presentModal()">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-text>
    <h1>WORKIT</h1>
    <p>You haven't created any custom workouts ... yet.</p>
  </ion-text>

</ion-content>
