ion-header {
    position: relative;
    margin: 0 auto;
    color: #f1f1f1;

    ion-label {
        --color: #f1f1f1;
        position: absolute;
        top: 40%;
        left: 15%;
        font-weight: bold;
        font-size: 25px;
        
    }
    ion-toolbar {
        position: absolute;
        top: 0%;
        --background: transparent;
        --color: #f1f1f1;
        
    }
}

ion-content {
    ion-fab {
        
        ion-fab-button {
            --background: orange!important;
            --background-activated: orange!important;
            --background-focused: orange!important;
            --background-hover: orange!important;	
        }
    }
    
    ion-text {
        text-align: center;
        color: grey;
        
        p {
            font-size: 11px;
        }
    }
}

