<!-- <ion-header [translucent]="true">
  <ion-label>My Custom Workouts</ion-label>  
</ion-header> -->
<ion-header>
  <ion-img src="https://miro.medium.com/max/14144/1*toyr_4D7HNbvnynMj5XjXw.jpeg"></ion-img>
  <ion-label>My Custom Workouts</ion-label>  
  <ion-toolbar class="test" style="padding-top:0px!important;">
    <ion-buttons slot="start">
      <ion-menu-button style="color: #f1f1f1;" auto-hide="false"></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="primary">
      <ion-button>
        <ion-icon slot="icon-only" ios="ellipsis-horizontal" md="ellipsis-vertical"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

</ion-header>

<ion-content [fullscreen]="true">
  <ion-fab style="margin-top: -40px;" vertical="top" horizontal="end" slot="fixed" (click)="presentModal()">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-text>
    <h1>WORKIT</h1>
    <p>You haven't created any custom workouts ... yet.</p>
  </ion-text>

</ion-content>