    ion-header {
        height: 25%;
    }

    ion-toolbar {
        --background: url("https://i.pinimg.com/originals/29/27/09/292709260a93adc3e98a26b539d41aec.png") 0 0/100% 100% ;
        height: 100%;
    }

    ion-content {
        position: relative;
    }
    
    ion-text {
        position: absolute;
        padding: 0 15px;
        border-bottom: 1px solid #e7e7e7;
    }
    
    ion-list.margin-top-90 {
        margin-top: 90px;
    }

    .description-content {
        font-size: 12.5px;
    }

    ion-col {
        font-size: 15px;
    }

    ion-list.list-md {
        padding: 0;
    }
