<ion-label>Weekly Stats</ion-label>
<!-- <ion-fab vertical="top" horizontal="end" slot="fixed" style="font-size: 24px;">
    <ion-icon name="arrow-forward-outline"></ion-icon>
</ion-fab> -->
<table class="table table-striped mt-20">
  <thead>
    <tr style="font-size: 10px;">
      <th scope="col" width="50%" style="text-align: left;"></th>
      <th scope="col">This Week</th>
      <th scope="col">Last Week</th>
    </tr>
  </thead>
  <tbody>
    <tr  style="font-size: 14px;">
      <td width="50%" style="text-align: left;">Mark</td>
      <td style="text-align: right;">Otto</td>
      <td style="text-align: right;">@mdo</td>
    </tr>
    <tr  style="font-size: 14px;">
      <td width="50%" style="text-align: left;">Jacob</td>
      <td style="text-align: right;">Thornton</td>
      <td style="text-align: right;">@fat</td>
    </tr>
    <tr  style="font-size: 14px;">
      <td width="50%" style="text-align: left;">Larry</td>
      <td style="text-align: right;">the Bird</td>
      <td style="text-align: right;">@twitter</td>
    </tr>
  </tbody>
</table>