ion-header {
    position: relative;
    text-align: center;
    background-color: black;
    margin: 0 auto;

    ion-label {
        position: absolute;
        top: 40%;
        left: 0;
        right: 0;
        color: #f1f1f1;
        font-weight: bold;
        font-size: 25px;
    }
    
    ion-text {
        color: #fff;
        font-size: 12px;
        font-weight: 400;
    }

    ion-toolbar {
        position: absolute;
        top: 0%;
        --background: transparent;
        --color: #f1f1f1;
        
    }

    #calendar-btn {
        position: absolute;
        top: 70%;
        right: 0;
        --border-color: none;
        --background: transparent;
        --background-focused: transparent;
        --background-hover: transparent;
        --background-activated: transparent;
        --ripple-color: transparent;
        
        ion-icon {
            color: #fff;
            font-size: 24px;
            font-weight: bold;
        }
    }
}

ion-content {
    text-align: center;

    ion-fab {
        
        ion-fab-button {
            --background: orange!important;
            --background-activated: orange!important;
            --background-focused: orange!important;
            --background-hover: orange!important;	
        }
    }
    
    ion-text {
        text-align: center;
        color: grey;
        
        p {
            font-size: 11px;
        }
    }


}

.float-stat-container {
    position: absolute;
    top: 90%;
    left: 0;
    right: 0;
    margin: 0 20px;
    z-index: 999;
    padding: 15px;
}