<ion-header>
  <ion-img src="https://img.freepik.com/free-photo/old-grunge-cement-wall-backgrounds_34552-195.jpg?size=626&ext=jpg"></ion-img>
  <ion-label>Bao Quoc dz<br>
    <ion-text>Start your workout streak today!</ion-text>
  </ion-label>
  
  <ion-button>
    <ion-icon name="calendar-outline"></ion-icon>
    <span style="margin-left: 5px;
                margin-top: 5px;
                font-size: 10px;
                text-transform: none;">Calendar</span>
  </ion-button>
  <div class="float-stat-container shadow bg-white rounded">
    <app-stats-table>

    </app-stats-table>
  </div>
</ion-header>

<ion-content>
  


</ion-content>
