ion-header {
    margin-top: 20px;
    
    ion-button {
        --color: orange;
        --color: orange;
        text-transform: none;
        font-weight: 100;
    }

    ion-title {
        font-size: 13px;
        font-weight: bold;
        text-align: center; 
    }
}

ion-content {
    
}