<ion-header>
  <ion-toolbar>
    <ion-title>my-plan</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen={true}>
  <ion-card  class="action-card ion-activatable ripple-parent">
    <ion-content class="background_1" routerLink="/my-plan-leaner" ></ion-content>
    <ion-ripple-effect type="unbounded"></ion-ripple-effect>
  </ion-card>
  <ion-card class="action-card ion-activatable ripple-parent">
    <ion-content class="background_2" routerLink="/my-plan-fitter"></ion-content>
    <ion-ripple-effect></ion-ripple-effect>
  </ion-card>
  <ion-card class="action-card ion-activatable ripple-parent">
    <ion-content class="background_3" routerLink="/my-plan-stronger"></ion-content>
    <ion-ripple-effect></ion-ripple-effect>
  </ion-card>
</ion-content>