
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start" (click)="dismissModal()">
        <ion-button>
          Cancel
        </ion-button>
      </ion-buttons>
      <ion-title>Create Custom Workout<br>
        <small>0 exercise</small>
      </ion-title>
  
      <ion-buttons slot="end" >
        <ion-button (click)="gotoWorkoutDetails()">
          Next
        </ion-button>
      </ion-buttons>
      <!-- <ion-nav-link router-direction="forward" [component]="settingPage">
        <ion-item button>
          <ion-icon name="arrow-forward" slot="end"></ion-icon>Next
        </ion-item>
      </ion-nav-link> -->
    </ion-toolbar>

    <ion-slides #customWorkoutSlide [options]="slideOpt">
      <ion-slide *ngIf="selectedExercise.length == 0">
        <div class="item">
          <img
            src="https://img.wallpapersafari.com/desktop/1536/864/49/62/dIDXKG.jpg" />
          <span style="width: 300px;" class="caption">Tap an exercise to add it your custom workout</span>
        </div>
      </ion-slide>
      <ion-slide *ngFor="let exercise of selectedExercise">
        <div class="item">
          <button *ngIf="exercise.title != ''" (click)="deleteExercise(exercise.keyId)">x</button>
          <img
            src="{{ exercise.img }}" />
          <span class="caption">{{exercise.title}}</span>
        </div>
      </ion-slide>
      <ion-slide *ngFor="let exercise of blankExercises">
        <div class="item">
          <img
            src="{{ exercise.img }}" />
          <span class="caption">{{exercise.title}}</span>
        </div>
      </ion-slide>
    </ion-slides>
  
  
    <ion-text style="margin-left: 10px; float: left; margin-top: 10px;">
      {{exercises.length}}
    </ion-text>
    <ion-text style="--color: #505050; float: right; margin-top: 10px;">
      Filter <span>
        <ion-icon style="color: #ddd; margin-top: 5px;" name="chevron-forward-outline"></ion-icon>
      </span>
    </ion-text>
  
    <ion-searchbar style="--cancel-button-color: orange" placeholder="Search Exercises" showCancelButton="focus" cancelButtonText="Cancel"></ion-searchbar>
  </ion-header>
  
  <ion-content>
    <ion-list>
      <ion-item button *ngFor="let exercise of exercises" (click)="addExercise(exercise.id)">
        <img  slot="start" width="20%" src="{{ exercise.img }}" alt="">
        <ion-label>
          <h3>{{ exercise.title }}</h3>
          <ion-note>{{ exercise.subtitle }}</ion-note>
        </ion-label>
        <ion-fab vertical="center" horizontal="end">
          <ion-fab-button>
            <ion-icon name="add"></ion-icon>
          </ion-fab-button>
        </ion-fab>
      </ion-item>

    </ion-list>
  </ion-content>