<ion-header text-center class="tab1_header">
  <ion-grid>
    <ion-row style="align-items: center;">
      <ion-col size="2">
        <div class="ion-text-start">
          <ion-buttons>
            <ion-menu-button></ion-menu-button>
          </ion-buttons>
        </div>
      </ion-col>
      <ion-col size="7.5">
        <div class="ion-text-center">
          <ion-label>SWORKIT</ion-label>
        </div>
      </ion-col>
      <ion-col size="1"> 
        <ion-button size="small" class="heart_button">
          <ion-icon name="heart-outline" style="color:black;"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col size="1"> 
        <ion-button size="small" class="heart_button">
          <ion-icon name="search-outline" style="color:black;"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col>
        <div class="ion-activatable ripple-parent">
        <div (click)="presentModal()" class="image-container" [style.background-image]="'url(assets/images/0.jpg)'" style="filter: brightness(0.7);">
        </div>
        <ion-text color="light">
          <div class="setLeft">
            <p style="font-size: 20px; font-weight: bold; margin: 0;">Workout of the Day</p>
            <p style="font-size: 14px; margin: 0;">Advanced Cardio</p>
          </div>
        </ion-text>
        <ion-ripple-effect style="color: #ff5e00;"></ion-ripple-effect>
        </div>
        <div class="ion-activatable ripple-parent square" (click)="showAction()"> 
          <ion-icon name="ellipsis-vertical-outline" style="color: white; font-size: 20px;"></ion-icon>
          <ion-ripple-effect style="color: #ff5e00;"></ion-ripple-effect>
        </div>
        <div style="position: relative;">
          <ion-text color="light">
            <p (click)="presentModal()" class="ion-activatable setRight ripple-parent">
              SEPTEMBER CHALLENGE
                <ion-icon name="arrow-forward-outline" style="vertical-align: text-top;"></ion-icon>
              <ion-ripple-effect style="color: white"></ion-ripple-effect>
            </p>
          </ion-text>
        </div>

        
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-text color="dark">
          <p style="font-weight: bolder; font-size: 16px; margin-bottom: 0px; margin-top: 5px;">Essentials</p>
        </ion-text>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col 
      size="12"
      size-xs="6"
      size-sm="6"
      size-md="4"
      size-lg="3"
      *ngFor="let x of essentials" (click)="presentModalTest(x)">
        <div style="text-align: center; border-radius: 5px;" class="ion-activatable ripple-parent">
        <div class="image-container0" [style.background-image]="'url(assets/images/' + x.img + '.jpg)'" style="filter: brightness(0.5);">
        </div>
        <ion-text color="light">
          <p class="setCenter">{{x.name}}</p>
        </ion-text>
        <ion-ripple-effect style="color: #ff5e00;"></ion-ripple-effect>
        </div>
      </ion-col>
      <ion-col>
        <div style="text-align: center; border-radius: 5px;" class="ion-activatable ripple-parent">
        <div (click)="presentModal()" class="image-container" [style.background-image]="'url(assets/images/0.jpg)'" style="filter: brightness(0.5);">
          
        </div>
        <ion-text color="light">
          <p class="setCenter">Sworkit Kid Workouts</p>
          <p class="setCenter1">FOREVER FREE</p>
        </ion-text>
        <ion-ripple-effect style="color: #ff5e00;"></ion-ripple-effect>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-text color="dark">
          <p style="font-weight: bolder; font-size: 16px; margin-bottom: 0px; margin-top: 5px;">Workout Collections</p>
        </ion-text>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col 
      size="12"
      size-xs="6"
      size-sm="6"
      size-md="4"
      size-lg="3"
      *ngFor="let x of workoutCollections" (click)="presentModalTest(x)">
        <div style="text-align: center; border-radius: 5px;" class="ion-activatable ripple-parent">
        <div class="image-container" [style.background-image]="'url(assets/images/' + x.img + '.jpg)'" style="filter: brightness(0.5);">
        </div>
        <ion-text color="light">
          <p class="setCenter">{{x.name}}</p>
        </ion-text>
        <ion-ripple-effect style="color: #ff5e00;"></ion-ripple-effect>
        </div>
        
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>